bleach
Flask
click
gunicorn
json-logging-py
configparser
MarkupSafe
h5py
lazy-object-proxy
itsdangerous
Jinja2
Keras
matplotlib
nltk
nose
numpy
numpydoc
odo
olefile
opencv-python
pandas
Pillow
protobuf
requests
scikit-image
scikit-learn
scipy
seaborn
six
Sphinx
tensorflow
tensorflow-tensorboard
terminado
tqdm
urllib3
Werkzeug
